.photo-grid__list{
    margin: 0;
    padding: 0;
    max-width: 1184px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    grid-gap: 16px;
}

@media screen and (max-width: 1024px){
    .photo-grid__list{
        grid-gap: 14px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
    }
}

@media screen and (max-width: 768px){
    .photo-grid__list{
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
    }
}

@media screen and (max-width: 320px){
    .photo-grid__list{
        grid-gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));

    }
}