.header__lang-list{
    margin: 46px 48px 6px 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

@media screen and (max-width: 768px){
    .header__lang-list{
        margin: 46px 24px 6px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .header__lang-list{
        margin: 30px 16px 8px 0;
    }
}